body {

    font-family: 'Open Sans', sans-serif !important;

}

.logo{
       width: 600px; height: 200px; position: relative; top: 47px;
}

.title {
    margin-bottom: 70px;

}

.pfQuestionId {
    font-size: 30px !important;
/*    font-family: sans-serif !important;*/
    font-family: Helvetica; 
    font-weight: bold !important;
}

.question {
    position: relative; top: 37px; left: 55px; line-height: 22px;
}


h1 {
    font-size: 50px; 
    font-family: 'Lobster', sans-serif !important;
/*    font-family: Helvetica; */
    font-weight: bold;
    }




.timer {
    font-size: 20px; color: black; position: absolute; top: 10px; right: 96px; line-height: 21px;
}

.question, .font {
    color: black; font-size: 20px;
}

.pfAnswer {
	display: inline-block; position: relative; padding-bottom: 30px; cursor: pointer; cursor: hand;
}
.pfAnswer:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.pfAnswer:hover:after {
	width: 12%; background: black;
}

.results {
    position: absolute; top: 280px; right: 5px; padding-bottom: 10px;
}

#nextQuestion {
    position: absolute; left: 260px; top: 445px;
}

.finalScreen {
    line-height: 10px;
}

.choices {
    padding-top: 70px; line-height: 59px;
}

.jumbotron {
    background-color: #FF6347;
    color: white;
}